*.swp

# ignore compiled plugins
*.so

cmds/buttonplugin/buttonplugin
cmds/console-ui-helloworld/console-ui-helloworld
cmds/debug/debug
cmds/helloworld/helloworld
cmds/textbox/textbox
cmds/*/helloconsole

# temporary files when building debian packages
/*.deb
/files
