*.swp

# ignore compiled plugins
*.so

examples/buttons/buttons
examples/console-ui-helloworld/console-ui-helloworld
examples/debug/debug
examples/helloworld/helloworld
examples/textbox/textbox
examples/cloudflare/cloudflare
examples/*/helloconsole

# temporary files when building debian packages
/*.deb
/files
/

# ignore the generated readme
/README-goreadme.md
